#container {
  margin: 20px;
  width: 300px;
  height: 300px;
}

#versus{
  text-align: center; 
}

body{
/*   font-family: 'Rubik Mono One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: white;
  background:#001A57
}

.tweet{
  height: 50px;
  margin: 0px;
}